<html>

<head>
	<title>Template Inheritance Example</title>
</head>

<body>
	<h1>Title stored in the base templates</h1>
	<h2>With a subtitle</h2>
	
	{% block content %} {% endblock %}

</body>

</html>
