<html>
	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li>{{ message | safe }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</body>
</html>