{% extends "index.html" %}

	{% block list %}
		<li><a href="/">Home!</a></li>
		<li class="active"><a href="/about">About!</a></li>
		<li><a href="/signup">Sign up!</a></li>
	{% endblock %}
	
	
	{% block main %}
		<div id="aboutcontainer" class="infobox">
			<h1>About Banter!</h1>
			
			<p>Banter is a free microblogging service that is available for anybody to use to share there thoughts.</p>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis pellentesque justo eget aliquet. Vivamus elementum id enim sed fermentum. Vivamus molestie ac ipsum sed rutrum. Vivamus tincidunt volutpat mauris, nec fermentum odio condimentum at. Nunc viverra quis enim nec interdum. Fusce eget mi id elit pellentesque malesuada eget non lorem. Vivamus condimentum congue mauris eu congue. Sed fermentum urna eu ullamcorper finibus. Etiam odio risus, fermentum ut lorem nec, dignissim consectetur nibh. Duis a erat porttitor, fermentum sem in, malesuada sapien. Proin eleifend odio quis nunc congue tincidunt. Ut posuere, sem finibus fermentum sodales, neque dolor porta dolor, ut laoreet neque nibh id magna. Nulla eget arcu metus. Donec consequat vitae libero eu eleifend. Mauris et arcu at lectus ultricies ullamcorper quis nec sem. Nulla ultrices sem finibus nisl commodo, quis consectetur dolor semper. </p>
			
			<p>Nullam tincidunt nibh sit amet lorem sodales, sed bibendum ante vehicula. Sed ut elementum orci. Suspendisse eleifend, risus nec sollicitudin lobortis, metus ligula vulputate lectus, sit amet laoreet erat massa ac quam. Donec sollicitudin tincidunt mauris nec feugiat. Mauris dictum dapibus nibh, in auctor purus ultricies ut. Cras gravida mollis consectetur. Vivamus id velit eget urna suscipit volutpat id in arcu. Quisque faucibus iaculis tortor et maximus. Ut luctus dictum metus et gravida. Mauris accumsan urna sed facilisis facilisis. Suspendisse quis ipsum id justo aliquet bibendum quis eu purus. Phasellus dictum quam quis dolor varius pulvinar. Mauris lobortis pellentesque dui ac porta. Donec in lacus in mauris dapibus mattis in eu metus. Praesent placerat tempor dignissim. Phasellus hendrerit lacus est. </p>
			
			<p>Vivamus semper erat placerat, sodales sem sit amet, rutrum mi. Nullam in eros lacus. Integer ut est metus. Suspendisse congue porttitor velit, nec aliquam urna congue sit amet. Donec aliquet tempus velit, sed cursus lectus vehicula sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi id sollicitudin arcu. Aliquam tincidunt leo et mi ullamcorper molestie. Aenean euismod accumsan justo vitae scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet aliquet quam. Maecenas pellentesque blandit massa, ut placerat tellus pellentesque et. </p>
			
			<p>Vivamus elementum felis ac mollis faucibus. Duis arcu lacus, luctus vel urna eget, ultricies malesuada dolor. Nullam eleifend cursus urna eu faucibus. Praesent sem massa, maximus sed interdum eget, ultricies sagittis dolor. Nam consectetur enim ut elit commodo luctus. Ut sed varius dolor, non lobortis nulla. Curabitur tristique vitae quam a lobortis. Vestibulum commodo, tortor non placerat sollicitudin, magna turpis cursus augue, euismod faucibus sapien nibh at velit. </p>
			
			<p>Mauris in scelerisque neque, ut dapibus urna. Duis id tincidunt urna. Morbi rutrum justo et leo viverra, scelerisque dignissim lorem gravida. Praesent rutrum mollis velit vel posuere. Nulla placerat pretium nisi, vel dictum leo dignissim sed. Aliquam ex tellus, egestas quis condimentum maximus, sagittis eget dui. Pellentesque fringilla semper lorem id volutpat. </p>
			
		</div>
	{% endblock %}