{% extends "home.html" %}
	
	{% block head %}
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/find.css') }}"/>
		<script src="{{ url_for('static', filename='js/find.js') }}"></script>
	{% endblock %}
	
	{% block list %}
		<li><a href="/home">Home!</a></li>
		<li><a href="/profile">Profile!</a></li>
		<li class="active"><a href="/find">Find users!</a></li>
		<li><a href="/signout">Sign out!</a></li>
	{% endblock %}
	
	
	{% block main %}
		<div id="searchbox" class="row">
  			<div class="col-lg-6">
    			<div class="input-group">
					<form class="searchform" name="search-form" method="post">
      					<span class="input-group-btn">
        					<button id="searchbutton" class="btn btn-default" type="submit">Go!</button>
      					</span>
      					<input id="serchinput" type="text" class="form-control" name="query" placeholder="Search for user!">
    				</form>
				</div>
  			</div>
		</div>
		
		<div id="userlist">
			
			
		</div>
		
	{% endblock %}