{% extends "index.html" %}

	{% block head %}
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
		<script src="{{ url_for('static', filename='js/home.js') }}"></script>
	{% endblock %}
	
	{% block brand %}
		<a class="navbar-brand" href="/home">Banter!</a>
	{% endblock %}
	
	{% block list %}
		<li class="active"><a href="/home">Home!</a></li>
		<li><a href="/profile">Profile!</a></li>
		<li><a href="/find">Find users!</a></li>
		<li><a href="/signout">Sign out!</a></li>
	{% endblock %}
	
	{% block main %}
		<div class="container">
			<div class="infobox" id="proinfo">
				<img id="mainpic" src="data:image/png;base64,{{ profilepic }}" alt="pic">
				<p class="infoitem">Username: <span id="username">{{ username }}</span></p> 
				<p class="infoitem">Full name: {{ fullname }}</p> 
				<p class="infoitem">Email: {{ email }}</p>
			</div>
			
			<div id="postfeed">
				
			</div>
		</div>
	{% endblock %}