<!DOCTYPE html>

	<head>
		<title>Banter!</title>
		<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')}}"/>
		<meta name="author" content="William James McGuigan">
		<meta name="description" content="Microblogging service">
		<meta name="keywords" content="Microblogging, banter!, blog">
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
		<script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/general.js') }}"></script>
		{% block head %}
			<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
		{% endblock %}
	</head>
	
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					{% block brand %}
						<a class="navbar-brand" href="/">Banter!</a>
					{% endblock %}
				</div>
				
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% block list %}
							<li class="active"><a href="/">Home!</a></li>
							<li><a href="/about">About!</a></li>
							<li><a href="/signup">Sign up!</a></li>
						{% endblock %}
					</ul>
				</div>
			</div>
		</nav>
		
		{% block messages %}
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="container">
							<p class="flash infobox">{{ message | safe }}</p>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
		{% endblock %}
			
		{% block main %}
			<div class="container">
				<form class="form-signin" name="signin-form" action="" method="post">
					<h2 class="form-signin-heading">Sign in!</h2>
					<label for="inputUsername" class="sr-only">Username</label>
					<input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
					<button class="btn btn-lg btn-primary btn-block" name="button" value="signin" type="submit">Sign in!</button>
				</form>
    		</div> 
		{% endblock %}
	</body>
</html>