{% extends "home.html" %}
	
	{% block head %}
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
		<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
	{% endblock %}
	
	{% block list %}
		<li><a href="/home">Home!</a></li>
		<li class="active"><a href="/profile">Profile!</a></li>
		<li><a href="/find">Find users!</a></li>
		<li><a href="/signout">Sign out!</a></li>
	{% endblock %}
	
	{% block main %}
		
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Choose profile picture</h4>
			</div>
			<div class="modal-body">
				<form class="form-newpic" action="" method="post" name="form" enctype="multipart/form-data" required>
					<span class="btn btn-primary btn-lg btn-file">
						Browse! <input type="file" name="picture" accept=".png" />
					</span>
					<button class="btn btn-lg btn-primary" type="submit" name="button" value="confirm">Confirm!</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			</div>
		
		</div>
		</div>
		
		<div class="container">
			<div class="infobox" id="proinfo">
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				<img id="mainpic" src="data:image/png;base64,{{ profilepic }}" alt="pic"></button>
				<p class="infoitem">Username: <span id="username">{{ username }}</span></p> 
				<p class="infoitem">Full name: {{ fullname }}</p> 
				<p class="infoitem">Email: {{ email }}</p>
				<label for="inputBanter" class="sr-only">Your banter!</label>
				<textarea rows="5" id="inputBanter" class="form-control" placeholder="Your banter!" maxlength="200"></textarea>
				<button id="banterbtn" class="btn btn-lg btn-primary btn-block" name="button">Banter!</button>
			</div>
			
			
			<div id="postfeed">
				
			</div>
		</div>
	{% endblock %}