{% extends "index.html" %}
	
	{% block list %}
		<li><a href="/">Home!</a></li>
		<li><a href="/about">About!</a></li>
		<li class="active"><a href="/signup">Sign up!</a></li>
	{% endblock %}
	
	{% block main %}
		<div class="container">
			<form class="form-signup" name="signin-form" action="" method="post">
				<h2 class="form-signup-heading">Sign up!</h2>
				<label for="inputFullName" class="sr-only">Full name</label>
				<input type="text" id="inputFullName" class="form-control" name="fullname" placeholder="Full name" required autofocus>
				<label for="inputEmail" class="sr-only">E-mail</label>
				<input type="email" id="inputEmail" class="form-control" name="email" placeholder="E-mail" required>
				<label for="inputUsername" class="sr-only">Username</label>
				<input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit" name="button" value="singup">Sign up!</button>
			</form>
    	</div> 
	{% endblock %}