{% extends "profile.html" %}

	{% block head %}
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
		<script src="{{ url_for('static', filename='js/specific_profile.js') }}"></script>
	{% endblock %}

	{% block list %}
		<li><a href="/home">Home!</a></li>
		<li><a href="/profile">Profile!</a></li>
		<li><a href="/find">Find users!</a></li>
		<li><a href="/signout">Sign out!</a></li>
	{% endblock %}
	
	{% block main %}
		<div class="container">
			<div class="infobox" id="proinfo">
				<img id="mainpic" src="data:image/png;base64,{{ profilepic }}" alt="pic">
				<p class="infoitem">Username: <span id="username">{{ username }}</span></p> 
				<p class="infoitem">Full name: {{ fullname }}</p> 
				<p class="infoitem">Email: {{ email }}</p>
				{% if loggedin %}
					{% if following == true %}
						<button id="followbtn" class="btn btn-lg btn-success btn-block" name="button">Unfollow!</button>
					{% else %}
						<button id="followbtn" class="btn btn-lg btn-primary btn-block" name="button">Follow!</button>
					{% endif %}
				{% endif %}
			</div>
			
			<div id="postfeed">
				
			</div>
		</div>
	{% endblock %}