#searchbox{
	width:100%;}

.col-lg-6{
	width:100%;}

.input-group{
	width:100%;}

.searchform{
	margin:2% 40%;
	width:20%;}

#searchbutton{
	float:left;
	width:20%;}

#serchinput{
	float:right;
	width:80%;
	margin-top:-9%;}

.user{
	width:15%;
	margin:2% 2.5%;
	float:left;
	text-decoration:none;
	padding: 2%;}

.user:hover{
	background-color: rgb(120,120,120);}

.username{
	color:white;
	font-size:18px;
	text-decoration:underline;
	text-align:center;
	padding-top: 5%;}