body{
	padding-top:50px;
	margin:0;}

img{
	max-width:100%;
	height:auto;
	margin:0;}

.infobox{
	background-color:rgba(100,100, 100, 0.9);
	color:white;}

.flash{
  padding:5px 0;
  margin:1% 30%;
  width:40%;
  border-radius:3px;
  text-align:center;}