body{
	background-image:url("../img/stars.jpg");
}

#proinfo{
	width:15%;
	margin:5% 2.5%;
	text-align:center;
	padding:10px 0;
	border-radius:5px;
	float:left;}

#mainpic{
	width:50%;
	margin-bottom:5%;}

#postfeed{
	width:30%;
	margin:10% 20%;
	float:left;
	clear:right;}

.container{
	width:100%;}

.infoitem{
	width:100%;
	font-size:110%;}

.post{
	padding:2% 5%;
	margin:3% 0;
	border-radius:5px;}

.postpic{
	width:10%;
	float:left;}

.following{
	text-decoration:underline;
	font-size:18px;
	padding-left:12%;}

.posttext{
	font-size:14px;
	padding-left:13%;}

.remove{
	float:right;}

.btn-file {
    position: relative;
    overflow: hidden;}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;}