body{
  background-image:url("../img/Cityatnightbg.jpg");}

.form-signin, .form-signup {
  max-width:330px;
  padding:15px;
  margin:10% auto;
  color:white;
  background-color:rgba(100,100,100,0.7);
  border-radius:8px;}

.form-signin .form-signin-heading, .form-signup .form-signup-heading {
  margin-bottom:10px;}

.form-signin .form-control, .form-signup .form-control {
  position:relative;
  height:auto;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:10px;
  font-size:16px;}

.form-signin .form-control:focus, .form-signup .form-control:focus {
  z-index:2;}

.form-signin input[type="text"], 
.form-signup input[type="text"],
.form-signup input[type="email"] {
  margin-bottom:-1px;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;}

.form-signin input[type="password"],
.form-signup input[type="password"] {
  margin-bottom:10px;
  border-top-left-radius:0;
  border-top-right-radius:0;}

#aboutcontainer{
  width:80%;
  margin:5% 10%;
  padding:10px;
  border-radius:8px;}
  
#aboutcontainer p{
  font-size:16px;}