{% extends "index.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/404.css') }}"/>
{% endblock %}

{% block main %}
	<p id="error">Error: 404 Item not found</p>
	<p id="message">Don't worry a team of highly trained monkeys has been despatched to find it</p>
	<img id="monkeys" src="{{ url_for('static', filename='img/monkey.jpeg') }}">
	<p id="cpright">image by Yukihiro Fukuda </p>
{% endblock %}