{% extends "index.html" %}
{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/specific.css') }}"/>
{% endblock %}

{% block main %}

	<div id="lefttile" class="containers">
		{% if epi.still %}
			<img id="poster" src="{{ epi.still.geturl('original') }}">
		{% else %}
			<img id="poster" src="{{ url_for('static', filename='img/noposter.png') }}">
		{% endif %}
		
		<p>Series: {{ ser.name }}</p>
		
		<p>Season: {{ epi.season_number }}</p>
		
		<p>Episode: {{ epi.episode_number }}</p>
		
		<p>Air date: {{ airdate }}</p>
	</div>
	
	<div id="righttile" class="containers">
		
		<h1>{{ epi.name }}</h1>
		
		<p>Overview:</p>
		<p>{{ epi.overview }}</p>
		
		<p>Cast:</p>
		{% for cast in epi.cast %}
			{{ cast.name }}
			{% if not loop.last %}
				,&nbsp;
			{% endif %}
		{% endfor %}
		
		<p>Guest stars:</p>
		{% for guest in epi.guest_stars %}
			{{ guest.name }}
			{% if not loop.last %}
				,&nbsp;
			{% endif %}
		{% endfor %}
		
	</div>
	

{% endblock %}