<!DOCTYPE html>

<head>
	<title>Media catalogue</title>
	<meta name="author" content="William James McGuigan">
	<meta name="description" content="A media catalogue">
	<meta name="keywords" content="Media, catalogue, movies, TV shows">
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/general.css') }}"/>
	<script src="{{ url_for('static', filename='js/general.js') }}"></script>
	{% block head %}
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}"/>
	{% endblock %}
</head>

<body>
	<div id="bannerDiv" class="header">
		<img src="{{ url_for('static', filename='img/banner.jpg') }}" alt="banner">
	</div>
	
	<div id="menu">
		<ul class="menuul">
			<li><a href="/home" class="{{ HomeSel }}">Home </a></li>
			<li><a href="/movies" class="{{ MovSel }}">Movies </a></li>
			<li><a href="/shows" class="{{ TVSel }}">TV Shows </a></li>
		</ul>
	</div>
	
	<div id="searchContainer">
		<form id="searchForm" method="post" query="form">
			<div id="searchboxDiv">
				<input type="text" id="searchbox" name="query" onfocus="fieldSwap('{{ url_for('static', filename='img/searchboxFocus.jpg') }}')" onblur="fieldSwap('{{ url_for('static', filename='img/searchboxNorm.jpg') }}')">
			</div>
			<div id="searchButtonDiv">
				<input type="image" src="{{ url_for('static', filename='img/searchButtonNorm.jpg') }}" name="submit" id="searchButton" alt="Btn" onmouseover="buttonSwap('{{ url_for('static', filename='img/searchButtonFocus.jpg') }}')" 
					   onmouseout="buttonSwap('{{ url_for('static', filename='img/searchButtonNorm.jpg') }}')">
			</div>
		</form>
	</div>
	
	{% block main %}
		<!-- Div to contain movie display box (mpmov stands for most popular movies) -->
		<div id="movieContainer">
			<a href="/movies">
			<div id="movieTitle">
				<img id="mpmovicon" class="icon" src="{{ url_for('static', filename='img/static-movie-logo.png') }}">
				<p id="mpmovtitle" class="title">Movies</p>
			</div>
			</a>
			
			<a href="/movie/{{ movies[0].id }}"><div id="mpmov1">
				<img id="mpmov1backdrop" class="backdrop" src="{{ movies[0].backdrop.geturl('original') }}">
				<img id="mpmov1poster" class="poster" src="{{ movies[0].poster.geturl('original') }}">
				<p id="mpmov1title" class="sub-title">{{ movies[0].title }}</p>
			</div>
			</a>
			
			<a href="/movie/{{ movies[1].id }}"><div id="mpmov2">
				<img id="mpmov2backdrop" class="backdrop" src="{{ movies[1].backdrop.geturl('original') }}">
				<p id="mpmov2title" class="sub-title">{{ movies[1].title }}</p>
				<img id="mpmov2poster" class="poster" src="{{ movies[1].poster.geturl('original') }}">
			</div>
			</a>
			
			<a href="/movie/{{ movies[2].id }}"><div id="mpmov3">
				<img id="mpmov3backdrop" class="backdrop" src="{{ movies[2].backdrop.geturl('original') }}">
				<img id="mpmov3poster" class="poster" src="{{ movies[2].poster.geturl('original') }}">
				<p id="mpmov3title" class="sub-title">{{ movies[2].title }}</p>
			</div>
			</a>
		</div>
		
		<!-- Div to contain TV show display box (All shows are static because api doesn't support most popular etc.) -->
		<div id="tvcontainer">
			<a href="/shows">
			<div id="tvtitle">
				<img id="statictvicon" class="icon" src="{{ url_for('static', filename='img/static-tv-logo.png') }}">
				<p id="statictvtitle" class="title">TV shows</p>
			</div>
			</a>
			
			<a href="/series/{{ tv[0].id }}">
			<div id="statictv1">
				<img id="statictv1backdrop" class="backdrop" src="{{ tv[0].backdrop.geturl('original') }}">
				<p id="statictv1title" class="sub-title">{{ tv[0].name }}</p>
				<img id="statictv1poster" class="poster" src="{{ tv[0].poster.geturl('original') }}">
			</div>
			</a>
			
			<a href="/series/{{ tv[1].id }}">
			<div id="statictv2">
				<img id="statictv2backdrop" class="backdrop" src="{{ tv[1].backdrop.geturl('original') }}">
				<img id="statictv2poster" class="poster" src="{{ tv[1].poster.geturl('original') }}">
				<p id="statictv2title" class="sub-title">{{ tv[1].name }}</p>
			</div>
			</a>
			
			<a href="/series/{{ tv[2].id }}">
			<div id="statictv3">
				<img id="statictv3backdrop" class="backdrop" src="{{ tv[2].backdrop.geturl('original') }}">
				<img id="statictv3poster" class="poster" src="{{ tv[2].poster.geturl('original') }}">
				<p id="statictv3title" class="sub-title">{{ tv[2].name }}</p>
			</div>
			</a>
		</div>
		
	{% endblock %}
	
</body>

</html>
