{% extends "index.html" %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/specific.css') }}"/>
{% endblock %}

{% block main %}

	<div id="lefttile" class="containers">
		
		{% if mov.poster %}
			<img id="poster" src="{{ mov.poster.geturl('original') }}">
		{% else %}
			<img id="poster" src="{{ url_for('static', filename='img/noposter.png') }}">
		{% endif %}
		
		<p>Runtime: {{ mov.runtime }} minutes</p>
		
		<p>Tagline: {{ mov.tagline }}</p>
		
		<p>Release: {{ release }} </p>
		
		{% if budget %}
			<p>Budget: £{{ budget }} {{ postbud }}</p>
		{% else %}
			<p>Budget: Not available</p>
		{% endif %}
		
		{% if revenue %}
			<p>Revenue: £{{ revenue }} {{ postrev }}</p>
		{% else %}
			<p>Revenue: Not available</p>
		{% endif %}
		
	</div>
	
	<div id="righttile" class="containers">
		
		<h1>{{ mov.title }}</h1>
		
		<p>Overview:</p>
		<p>{{ mov.overview }}</p>
		
		<p>Genres:</p>
		{% for genre in mov.genres %}
			{{ genre.name }}
			{% if not loop.last %}
				,&nbsp;
			{% endif %}
		{% endfor %}
		
		<p>Cast:</p>
		{% for cast in mov.cast %}
			{{ cast.name }}
			{% if not loop.last %}
				,&nbsp;
			{% endif %}
		{% endfor %}
		
	</div>
	
	
	{% if mov.similar %}
		<div id="similarcontainer" class="containers">
			
			<h2>Similar movies:</h2>
			
			<a href="/movie/{{ mov.similar[0].id }}">
			{% if mov.similar[0].poster %}
				<img class="similar" src="{{ mov.similar[0].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
			<a href="/movie/{{ mov.similar[1].id }}">
			{% if mov.similar[1].poster %}
				<img class="similar" src="{{ mov.similar[1].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
			<a href="/movie/{{ mov.similar[2].id }}">
			{% if mov.similar[2].poster %}
				<img class="similar" src="{{ mov.similar[2].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
			<a href="/movie/{{ mov.similar[3].id }}">
			{% if mov.similar[3].poster %}
				<img class="similar" src="{{ mov.similar[3].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
			<a href="/movie/{{ mov.similar[4].id }}">
			{% if mov.similar[4].poster %}
				<img class="similar" src="{{ mov.similar[4].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
		</div>
	{% endif %}
	
{% endblock %}