{% extends "index.html" %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/pagination.css') }}"/>
	<script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/smartpaginator.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script type="text/javascript">
		(function($){
			
			$(document).ready(function(){
				{% if shows %}
					{% for show in shows %}
						{% set outer_loop_show = loop %}
						{% for genre in show.genres %}
							$('#show{{ outer_loop_show.index }}').addClass('{{ genre.name }}');
						{% endfor %}
						$('#show{{ outer_loop_show.index }}').addClass('show');
					{% endfor %}
				{% endif %}
				
				{% if movies %}
					{% for movie in movies %}
						{% set outer_loop_movie = loop %}
						{% for genre in movie.genres %}
							$('#movie{{ outer_loop_movie.index }}').addClass('{{ genre.name }}');
						{% endfor %}
						$('#movie{{ outer_loop_movie.index }}').addClass('movie');
					{% endfor %}
				{% endif %}
				
			});
			
			
		}(jQuery));
	
	</script>
{% endblock %}

{% block main %}

	<p>Your search for "{{ query }}" returned {{ length }} result(s)</p>
	
	<div id="filterbox">
		<p class="filtertitle">Genre:</p>
		<a class="genrefilter" id="actionfilter" href="#">Action</a>
		<a class="genrefilter" id="adventurefilter" href="#">Adventure</a>
		<a class="genrefilter" id="animationfilter" href="#">Animation</a>
		<a class="genrefilter" id="comedyfilter" href="#">Comedy</a>
		<a class="genrefilter" id="crimefilter" href="#">Crime</a>
		<a class="genrefilter" id="documentaryfilter" href="#">Documentary</a>
		<a class="genrefilter" id="familyfilter" href="#">Family</a>
		<a class="genrefilter" id="fantasyfilter" href="#">Fantasy</a>
		<a class="genrefilter" id="foreignfilter" href="#">Foreign</a>
		<a class="genrefilter" id="historyfilter" href="#">History</a>
		<a class="genrefilter" id="horrorfilter" href="#">Horror</a>
		<a class="genrefilter" id="musicfilter" href="#">Music</a>
		<a class="genrefilter" id="mysteryfilter" href="#">Mystery</a>
		<a class="genrefilter" id="romancefilter" href="#">Romance</a>
		<a class="genrefilter" id="sciencefilter" href="#">Science Fiction</a>
		<a class="genrefilter" id="tvmoviefilter" href="#">TV Movie</a>
		<a class="genrefilter" id="thrillerfilter" href="#">Thriller</a>
		<a class="genrefilter" id="warfilter" href="#">War</a>
		<a class="genrefilter" id="westernfilter" href="#">Western</a>
		
		{% if shows and movies %}
			<p class="filtertitle">Type:</p>
			<a class="genrefilter" id="showfilter" href="#">TV shows</a>
			<a class="genrefilter" id="moviefilter" href="#">Movies</a>
		{% endif %}
	</div>
	
	<div id="recs">
		{% if shows %}
			{% for show in shows %}
				<a href="/series/{{ show.id }}">
				<div id="show{{ loop.index }}" class="rec hideable">
					{% if show.poster %}
						<img class="recposter" src="{{ show.poster.geturl('original') }}" width="100px" height="150px">
					{% else %}
						<img class="recposter" src="{{ url_for('static', filename='img/noposter.png') }}" width="100px" height="150px">
					{% endif %}
					<p class="rectitle">{{ show.name }}</p>
					<p class="recoverview">{{ show.overview }}</p>
				</div>
				</a>
			{% endfor %}
		{% endif %}
		
		{% if movies %}
			{% for movie in movies %}
				<a href="/movie/{{ movie.id }}">
				<div id="movie{{ loop.index }}" class="rec hideable">
					{% if movie.poster %}
						<img class="recposter" src="{{ movie.poster.geturl('original') }}" width="100px" height="150px">
					{% else %}
						<img class="recposter" src="{{ url_for('static', filename='img/noposter.png') }}" width="100px" height="150px">
					{% endif %}
					
					<p class="rectitle">{{ movie.title }}</p>
					<p class="recoverview">{{ movie.overview }}</p>
				</div>
				</a>
			{% endfor %}
		{% endif %}
		<div id="pgesel" style="margin:auto;"></div>
	</div>
	
{% endblock %}