{% extends "index.html" %}
{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/specific.css') }}"/>
{% endblock %}

{% block main %}

	<div id="lefttile" class="containers">
		
		{% if sea.poster %}
			<img id="poster" src="{{ sea.poster.geturl('original') }}">
		{% else %}
			<img id="poster" src="{{ url_for('static', filename='img/noposter.png') }}">
		{% endif %}
		
		<p>Series: {{ ser.name }}</p>
		
		<p>Season: {{ sea.season_number }}</p>
		
		<p>Episodes: {{ sea.episodes|length }}</p>
	</div>
	
	<div id="righttile" class="containers">
		
		<h1>{{ sea.name }}</h1>
		
		<p>Overview:</p>
		<p>{{ sea.overview }}</p>
		
	</div>
	
	
	<div id="itemcontainer" class="containers">
		{% for e in sea.episodes %}
			<a href="/series/{{ ser.id }}/{{ sea.season_number }}/{{ sea.episodes[e].episode_number }}">
			<div class="item">
				{% if sea.episodes[e].still %}
					<img class="itemposter" src="{{ sea.episodes[e].still.geturl('original') }}">
				{% else %}
					<img class="itemposter" src="{{ url_for('static', filename='img/noposter.png') }}">
				{% endif %}
				
				<h3>Episode {{ sea.episodes[e].episode_number }} - {{ sea.episodes[e].name }}</h3>
				
				<p class="itemoverview">{{ sea.episodes[e].overview }}</p>
			</div>
			</a>
		{% endfor %}
	</div>

{% endblock %}