{% extends "index.html" %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/specific.css') }}"/>
{% endblock %}

{% block main %}

	<div id="lefttile" class="containers">
		
		{% if ser.poster %}
			<img id="poster" src="{{ ser.poster.geturl('original') }}">
		{% else %}
			<img id="poster" src="{{ url_for('static', filename='img/noposter.png') }}">
		{% endif %}
		
		<p>Seasons: {{ ser.number_of_seasons }}</p>
		
		<p>Episodes: {{ ser.number_of_episodes }}</p>
		
		<p>Release: {{ airdate }} </p>
		
		<p>Popularity: {{ popularity }}</p>
		
		<p>Status: {{ ser.status }}</p>
		
	</div>
	
	<div id="righttile" class="containers">
		
		<h1>{{ ser.name }}</h1>
		
		<p>Overview:</p>
		<p>{{ ser.overview }}</p>
		
		<p>Genres:</p>
		{% for genre in ser.genres %}
			{{ genre.name }}
			{% if not loop.last %}
				,&nbsp;
			{% endif %}
		{% endfor %}
		
		<p>Cast:</p>
		{% for cast in ser.cast %}
			{{ cast.name }}
			{% if not loop.last %}
				,&nbsp;
			{% endif %}
		{% endfor %}
		
	</div>
	
	
	{% if ser.similar %}
		<div id="similarcontainer" class="containers">
			
			<h2>Similar series:</h2>
			
			<a href="/series/{{ ser.similar[0].id }}">
			{% if ser.similar[0].poster %}
				<img class="similar" src="{{ ser.similar[0].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
			<a href="/series/{{ ser.similar[1].id }}">
			{% if ser.similar[1].poster %}
				<img class="similar" src="{{ ser.similar[1].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
			<a href="/series/{{ ser.similar[2].id }}">
			{% if ser.similar[2].poster %}
				<img class="similar" src="{{ ser.similar[2].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
			<a href="/series/{{ ser.similar[3].id }}">
			{% if ser.similar[3].poster %}
				<img class="similar" src="{{ ser.similar[3].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
			<a href="/series/{{ ser.similar[4].id }}">
			{% if ser.similar[4].poster %}
				<img class="similar" src="{{ ser.similar[4].poster.geturl('original') }}">
			{% else %}
				<img class="similar" src="{{ url_for('static', filename='img/noposter.png') }}">
			{% endif %}
			</a>
			
		</div>
	{% endif %}
	
	<div id="itemcontainer" class="containers">
		{% for s in ser.seasons %}
			<a href="/series/{{ ser.id }}/{{ s }}">
			<div class="item">
				{% if ser.seasons[s].poster %}
					<img class="itemposter" src="{{ ser.seasons[s].poster.geturl('original') }}">
				{% else %}
					<img class="itemposter" src="{{ url_for('static', filename='img/noposter.png') }}">
				{% endif %}
				
				<h3>{{ ser.seasons[s].name }}</h3>
				
				<p class="itemoverview">{{ ser.seasons[s].overview }}</p>
			</div>
			</a>
		{% endfor %}
	</div>

{% endblock %}