{% extends "index.html" %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/pagination.css') }}"/>
	<script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/smartpaginator.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script type="text/javascript">
		(function($){
			
			$(document).ready(function(){
				{% for show in shows %}
					{% set outer_loop = loop %}
					{% for genre in show.genres %}
						$('#{{ outer_loop.index }}').addClass('{{ genre.name }}')
					{% endfor %}
				{% endfor %}
				
			});
			
		}(jQuery));
	
	</script>
{% endblock %}

{% block main %}

	<div id="listselector">
		<a href="/shows?list=popular" class="listselection {{ popsel }}">Popular</a>
		<a href="/shows?list=ontheair" class="listselection {{ onairsel }}">On the air</a>
		<a href="/shows?list=toprated" class="listselection {{ topsel }}">Top rated</a>
		<a href="/shows?list=airingtoday" class="listselection {{ airtosel }}">Airing today</a>
	</div>
	
	<div id="filterbox">
		<p class="filtertitle">Genre:</p>
		<a class="genrefilter" id="actionfilter" href="#">Action</a>
		<a class="genrefilter" id="adventurefilter" href="#">Adventure</a>
		<a class="genrefilter" id="animationfilter" href="#">Animation</a>
		<a class="genrefilter" id="comedyfilter" href="#">Comedy</a>
		<a class="genrefilter" id="crimefilter" href="#">Crime</a>
		<a class="genrefilter" id="documentaryfilter" href="#">Documentary</a>
		<a class="genrefilter" id="familyfilter" href="#">Family</a>
		<a class="genrefilter" id="fantasyfilter" href="#">Fantasy</a>
		<a class="genrefilter" id="foreignfilter" href="#">Foreign</a>
		<a class="genrefilter" id="historyfilter" href="#">History</a>
		<a class="genrefilter" id="horrorfilter" href="#">Horror</a>
		<a class="genrefilter" id="musicfilter" href="#">Music</a>
		<a class="genrefilter" id="mysteryfilter" href="#">Mystery</a>
		<a class="genrefilter" id="romancefilter" href="#">Romance</a>
		<a class="genrefilter" id="sciencefilter" href="#">Science Fiction</a>
		<a class="genrefilter" id="tvmoviefilter" href="#">TV Movie</a>
		<a class="genrefilter" id="thrillerfilter" href="#">Thriller</a>
		<a class="genrefilter" id="warfilter" href="#">War</a>
		<a class="genrefilter" id="westernfilter" href="#">Western</a>
	</div>
	
	<div id="recs">
		{% for show in shows %}
			<a href="/series/{{ show.id }}">
			<div id="{{ loop.index }}" class="rec hideable">
				{% if show.poster %}
					<img class="recposter" src="{{ show.poster.geturl('original') }}" width="100px" height="150px">
				{% else %}
					<img class="recposter" src="{{ url_for('static', filename='img/noposter.png') }}" width="100px" height="150px">
				{% endif %}
				<p class="rectitle">{{ show.name }}</p>
				<p class="recoverview">{{ show.overview }}</p>
			</div>
			</a>
		{% endfor %}
		<div id="pgesel" style="margin:auto;"></div>
	</div>
	
{% endblock %}