#error{
	margin:1% 0%;
	width:100%;
	text-align:center;
	font-weight: bold;
	font-size: 150%;
	text-decoration: underline;}

#message{
	margin:1% 0%;
	width:100%;
	text-align:center;
	font-size:120%;}

#monkeys{
	margin:2% 30%;
	width:40%;}

#cpright{
	width:18%;
	margin-left:53%;
	font-size: 100%;}
