body{
	margin:0px;
	background:url(../img/background.jpg);}

img{
	max-width:100%;
	height:auto;
	margin:0;}


a{
	text-decoration:none;}

/* menu */
#menu{
	padding:0 1%;
	background-color:rgb(71,71,71);}

#menu ul{
	margin:0;
	padding:0;
	width: 100%;}

#menu ul li{
	float:left;
	list-style:none;
	width:33%;
	padding: 0.2% 0;}

#menu ul li a:link,
#menu ul li a:visited {
	display:block;
	font-size:26px;
	text-align:center;
	color: rgb(0,156,255);
	text-decoration:none;
	font-weight:bold;}

#menu ul li a:hover{
	background-color:rgb(255,255,255);
	color:rgb(71,71,71);
	border-radius:10px;}

.menuul:before, .menuul:after { 
	content:""; 
	display:table;}

.menuul:after { 
	clear:both;}

.menuul { 
	*zoom:1;}


/* search box */
#searchContainer{
	width:100%;
	float:clear;
    background-repeat:no-repeat;
    background-position:left top;
	background-color:rgb(142,142,142);
	overflow:hidden;}

#searchForm{
	background-image:url(../img/searchButtonFocus.jpg);
    background-repeat:no-repeat;
	margin-left:40%;
	margin-top:5px;}

#searchbox{
	background:url(../img/searchboxNorm.jpg);
	background-repeat:no-repeat;
	border:none;
	height:30px;
	width:230px;
	outline:none;
	background-color:transparent;
	color:rgb(255,255,255);
	font-size:22px;
	font-family:"Times New Roman", Times, serif;
	padding-right:7px;
	padding-left:7px;
	border-radius:10px;}

#searchButton{
	border-radius:5px;}

#searchboxDiv{
	float:left; 
	width:240px;}

#searchButtonDiv{
	float:left; 
	width:27px;}