a{
	text-decoration:none;
	color:black;}

.icon{
	float:left;
	margin-right:5px;
	margin-bottom:-5px;
	margin-top:-5px;
	margin-left:-5px;
	padding:5px;}

.icon:hover{
	background-color:rgb(141,141,141);
	box-shadow:0px 0px 5px 2px rgb(141,141,141);
	border-radius:7px;}

.title{
	font-size:26px;
	font-weight:bold;}

.poster{
	padding:5px;
	background-color:rgb(71,71,71);
	border:2px solid black;
	border-radius:7px;
	margin:2%;}

.poster:hover{
	background-color:rgb(0,156,255);}

.sub-title{
	font-size:32px;
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	color:rgb(141,141,141);}

.backdrop{
	z-index:-1;
	padding:0px;
	margin:0px;}

/* movie display*/
#movieContainer{
	padding-top:5%;
	padding-left:10%;
	width:30%;
	float:left;
	margin-bottom:10%;}

#mpmov1{
	width:100%;}

#mpmov1backdrop{
	position:absolute;
	width:30%;
	height:300px;}

#mpmov1poster{
	width:15%;
	margin:2%;}

#mpmov1title{
	margin-left:2%;}

#mpmov2{
	width:50%;
	float:left;}

#mpmov2backdrop{
	position:absolute;
	width:15%;
	height:300px;}

#mpmov2title{
	margin-top:0;}

#mpmov2poster{
	margin-left:0;
	width:30%;}

#mpmov3{
	float:left;
	width:50%;}

#mpmov3backdrop{
	position:absolute;
	width:15%;
	height:300px;}


#mpmov3poster{
	width:30%;}

#mpmov3title{
	margin-top:0;}

#mpmovicon{
	width:5%;}

/* TV display */
#tvcontainer{
	float:left;
	padding-top: 5%;
	padding-left:10%;
	width: 30%;
	margin-bottom:10%;}

#statictv1{
	width:50%;
	float:left;}

#statictv1backdrop{
	position: absolute;
	width:15%;
	height:300px;}

#statictv1title{
	margin-top:0;}

#statictv2backdrop{
	position: absolute;
	width:15%;
	height:300px;}

#statictv1poster{
	width:30%;}


#statictv2{
	width:50%;
	float: left;}

#statictv2poster{
	width:30%;}

#statictv2title{
	margin-top:0;}

#statictv2backdrop{
	position: absolute;
	width:15%;
	height: 300px;}

#statictv3{
	width: 100%;
	margin-top:300px;}

#statictv3backdrop{
	position: absolute;
	width: 30%;
	height:300px;}

#statictv3poster{
	width:15%;}

#statictv3title{
	margin-top:0;}

#statictvicon{
	width:5%;}