#listselector{
	width: 100%;
	float:left;
}

.listselection{
	text-decoration:none;
	color:black;
	font-size:150%;
	width: 10%;
	padding:0 1%;}

.listselection:hover{
	background-color:rgb(71,71,71);
	color:rgb(0,156,255);}

.genrefilter{
	text-decoration:none;
	color:white;
	width:100%;
	font-size:120%;
	float:left;
	clear:both;
	text-align: center;}

.genrefilter:hover{
	color:rgb(0,156,255);
	background-color:rgb(71,71,71);}

.sel{
	background-color:rgb(71,71,71);
	color:rgb(0,156,255);}

.rec{
	background-color:rgb(142,142,142);
	color:white;
	border: 4px solid black;
	border-radius:10px;
	margin:5% 0;
	width:100%;}

.selectedfilter{
	background-color:rgb(71,71,71);
	color: rgb(0,156,255);}

.typesel{
	background-color:rgb(71,71,71);
	color: rgb(0,156,255);}

.rec:hover{
	color:rgb(0,156,255);
	background-color:rgb(71,71,71);}

.rectitle{
	font-size:26px;
	text-decoration:underline;}

.recposter{
	width:15%;
	margin:1% 42.5%;}

.recoverview{
	font-size:20px;}

.filtertitle{
	font-size:22px;
	color:black;
	font-weight:bold;
	margin-left:5px;}

#filterbox{
	background-color:rgb(142,142,142);
	margin:5% 5%;
	padding-bottom:1%;
	width:10%;
	border: 4px solid black;
	border-radius:10px;
	float:left;}

#recs{
	width:50%;
	float:left;
	margin: 5% 10%;}