.pager
{
    width: 685px;
    height: 30px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px; /*border-radius: 8px; 	-moz-border-radius: 8px;*/
    border: 2px solid black;
    border-radius:7px;}

.pager div.short
{
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    width: 74px;}

.pager div.short input
{
    width: 28px;
    height: 18px;
    border: none;
    margin-left: 8px;
    float: left;}

.pager ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 4px;}

.pager ul li
{
    display: inline;
    margin-left: 2px;}

.pager ul li a
{
    text-decoration: none;
    display: inline-table;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;}

.pager span
{
    margin-left: 4px;
    color: White;
    float: left;}

.pager .btn
{
    display: block;
    width: 40px;
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;}

.pager .disabled
{
    color: #A0A0A0 !important;
    text-shadow: 1px 1px 1px #FFFFFF;}

.black
{
    background-color: rgb(142,142,142);}

.black.normal
{
    background-color: rgb(100,100,100);
    color: white;
    border: solid 1px #000;}

.black.normal:hover{
    background-color: rgb(71,71,71);
    color:rgb(0,156,255);}

.black.active
{
    background-color: rgb(71,71,71);
    color: rgb(0,156,255);
    border: solid 1px #000;}

.pager.black .btn
{
    background-color: rgb(100,100,100);
    color: White;
    border: solid 1px #000;}

.pager.black .btn:hover{
    background-color: rgb(71,71,71);
    color: rgb(0,156,255);}