a{
	text-decoration:none;
	color:white;}

.containers{
	background-color:rgb(142,142,142);
	border:2px solid black;
	border-radius:8px;
	color:white;}

#lefttile{
	width:12%;
	margin:5% 5%;
	float:left;
	padding-top:1%;
	padding-left:3%;}

#poster{
	width:60%;}

#righttile{
	width:60%;
	margin:5% 10% 2% 0;
	padding:1% 1.5%;
	float:left;}

#similarcontainer{
	width:50%;
	margin:0 20% 5% 30%;
	overflow:hidden;
	float:left;}

h2{
	margin-left:1%;}

.similar{ 
	width:18%;
	margin-left:1.5%;
	margin-bottom:5%;
	float:left;}

/* Item refers to a series of seasons or episodes */
#itemcontainer{
	float:left;
	overflow:hidden;
	width:50%;
	margin:2% 25%;
	padding:1%;}

.item{
	float:left;
	width:98%;
	margin-bottom:2%;
	border-bottom:2px solid rgb(71,71,71);}

.item:hover{
	background-color:rgb(71,71,71);
	color:rgb(0,156,255);}

.itemposter{
	width:10%;
	float:left;
	margin:1%;}